
/* Menu */
.menu nav{
    width: 100%;
    position: fixed;
    transition: .5s;
    z-index: 1000;
}


/* accueil */
.couv{
    background: url('Images/fd.jpg') fixed;
    height: 100vh;
    background-size: cover;
    padding: 25px;
}


/* Bienvenue */
.welcome{
    padding-top: 80px;
}
.title {
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 200px;
}
.sub{
    color: white;
    font-size: 50px;
    text-align: center;
}

/* Test */
.test{
    background: black;
    color: white;
}

/* A Propos */
.propos{
    margin-bottom: 50px;
}
.media-body{
    text-align: justify;
    padding: 20px;
}
.media-body h1{
    margin-bottom: 50px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


/* PPE */
.ppe{
    padding: 25px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: antiquewhite;
    margin-top: 50px;
    margin-bottom: 50px;
}
.droite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.droite img{
    width: 40%;
}
.gauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gauche img{
    width: 40%;
}


/* Stages */
.stages{
    display: flex;
    align-items: center;
    text-align: center;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.uneAn{
    width: 50%;
    height: 100%;
    background: #82C0CC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stage{
    width: 50%;
    height: 100%;
    background: #489FB5;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deuxAn{
    width: 50%;
    height: 100%;
    background: #82C0CC;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Veilles */
.slider{
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
}
.carousel-caption{
    padding-bottom: 80px;
}


/* Contact */
.contact{
    display: flex;
    justify-content: space-evenly;
    /*box-shadow: 10px 10px 10px grey;*/
    border: 1px solid black;
}
.image img{
    width: 800px;
}
.formContact{
    width: 700px;
    padding: 50px;
}
.formContact h1{
    padding-bottom: 50px;
}


/* PPE 1er */
.about{
    padding: 60px;
}
.test{
    padding: 50px;
}


/* Page Veille */
.pageVeille{
    background: url("Images/pl.jpg");
    height: 100%;
    background-size: cover;
    padding: 50px;
    padding-bottom: 50px;
}
.row{
    padding-bottom: 50px;
}



/* footer */
.media{
    padding: 50px;
}
.footer{
    background-color: #333333;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fin{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.social img{
    width: 50px;
    height: 50px;
}

